version: '3.9'

services:
  nginx:
    # Production Optimizations could go here
    environment:
      - NGINX_WORKER_PROCESSES=auto

  backend:
    # Production resource limits
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 512M
        reservations:
          cpus: '0.2'
          memory: 128M
    environment:
      - NODE_ENV=production
